@import "tailwindcss";

/* Esta línea mágica activa el botón de la luna y el sol en la nueva versión */
@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: light dark;
}
@layer base {
  input, select, textarea {
    color: #0f172a !important; /* Texto oscuro por defecto en campos de texto */
  }
}

/* Si estás usando Tailwind con clases dark mode en los inputs, forzamos que lean bien */
.dark input, .dark select, .dark textarea {
  color: #f8fafc !important; /* Texto claro cuando el fondo es oscuro (#0f172a) */
  background-color: #0f172a !important;
}